.container {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  /* align-items: flex-start;  */
  align-items: center; 

  padding: 40px;
}
.penIcon{
  color: rgb(98, 98, 192);
  font-size:28px;
}
.imageContainer {
  flex: 1;
  margin-right: 20px; 
}
span{
  font-weight: 600;
  color:#393838;
}
.image {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.textContainer {
  flex: 1;
  background-color: #f5f5f5;
  padding: 21px; 
  border-radius: 10px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}
strong{
  color: teal;
  font-size: 24px;
}

.heading {
  font-size: 2rem;
  margin-bottom: 20px;
}

.paragraph {
  font-size: 19px;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Breakpoints */
@media (max-width: 1199px) {
  .container {
    flex-direction: column;
    align-items: center; 
    padding: 20px;
    margin-top: 150px;
  }

  .imageContainer {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .textContainer {
    width: 100%; 
    align-items: center; 
  }
}

@media (max-width: 1050px) {
  .heading {
    font-size: 1.8rem;
  }
}

@media (max-width: 950px) {
  .paragraph {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 20px;
  }
}

@media (max-width: 600px) {
  
  .heading {
    font-size: 1.5rem;
  }
  .container{
    margin-top: 100px;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 1.2rem;
  }

  .paragraph {
    font-size: 0.9rem;
  }
}
