.container {
    margin: 120px auto; /* Vertically 100px from the top, horizontally centered */
    max-width:500px;
    padding: 20px 25px;
    box-shadow: 2px 2px 2px 3px gray;
    word-wrap: break-word;
}

.title {
    color: rgb(21, 134, 96);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container ul{
    padding-inline-start:14px;
}
.container li{
    margin-top: 3px;
    color: rgb(37, 96, 85);
    font-weight: 700;
    font-size: 26px
}

.paragraph {
    margin-top: 4px;
    color: rgb(62, 59, 59);
    font-size: 21px;
    font-weight: 200;
    text-align: justify;
}


.icon {
    color: rgb(104, 104, 156);
    font-size: 21px;
}

/* Tablet */
@media screen and (max-width: 768px) {
    .container {
        margin:110px auto auto 50px;
        width: 70%;
    }

    .title {
        font-size: 28px;
    }

    .container li {
        font-size: 24px;
    }

    .paragraph{
        font-size: 16px;
    }
}

/* Mobile  */
@media screen and (max-width: 480px) {
    .container {
         /* margin-left: 5%;
        margin-right: 5%;
        margin-top:110px; */
        margin:110px auto auto 50px;
        width: 70%;
    }

    .title {
        font-size: 24px;
    }

    .container li{
        font-size: 20px;
    }

    .paragraph{
        font-size: 16px;
        text-align: justify;
    }
}