.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding:0;
    background-color: transparent;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}


.footer_email {
    position: fixed;
    right: 10px;
    font-size: 30px;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    padding: 3px 5px;
    text-decoration: none;
    background-color: rgb(14,138,138);
}
.footer_links{
    position: fixed;
    left:5px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: rgb(14,138,138)
}


.footer_link {
    font-size: 45px;
    color: white;
    text-decoration: none;
   
}
