/* Projects.module.css */
.container {
    padding: 50px 20px;
    /* background-color: #f9f9f9; */
    text-align: center;
  }
  
  .title {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    position: relative;
    transition: color 0.3s ease;
  }
  .title:hover {
    color: rgb(44, 102, 102);
  }
  
  .title::after {
    content: ''; 
    position: absolute;
    left: 0;
    bottom: -5px; 
    width: 100%;
    height: 3px; 
    background-color:crimson; 
    transition: width 0.3s ease; 
    transform: scaleX(0); 
    transform-origin: bottom left; 
  }
  
  .title:hover::after {
    transform: scaleX(1); 
  }
  
  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  /* Responsive Design */
  
  /* 1299px and above */
  @media (min-width: 1300px) {
    .container {
      padding: 50px 40px;
    }
  }
  
  /* 1150px to 1299px */
  @media (min-width: 1150px) and (max-width: 1299px) {
    .container {
      padding: 50px 30px;
    }
  }
  
  /* 950px to 1149px */
  @media (min-width: 950px) and (max-width: 1149px) {
    .container {
      padding: 40px 20px;
    }
  
    .title {
      font-size: 2.3rem;
    }
  }
  
  /* 768px to 949px */
  @media (min-width: 768px) and (max-width: 949px) {
    .container {
      padding: 40px 15px;
    }
  
    .title {
      font-size: 2.1rem;
    }
  }
  
  /* 600px to 767px */
  @media (min-width: 600px) and (max-width: 767px) {
    .container {
      padding: 30px 10px;
    }
  
    .title {
      font-size: 1.9rem;
    }
  }
  
  /* 480px to 599px */
  @media (min-width: 480px) and (max-width: 599px) {
    .container {
      padding: 30px 5px;
    }
  
    .title {
      font-size: 1.7rem;
    }
  }
  
  /* Below 480px */
  @media (max-width: 479px) {
    .container {
      padding: 20px 5px;
    }
  
    .title {
      font-size: 1.5rem;
      margin-bottom: 30px;
    }
  }
  